name: Deploy

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger the runs
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ github.token }}
          event-type: one
